* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
/* header wrapper */
.header-wrapper {
    background: black;
    color: #fff;
    font-weight: 200;
    font-size: 0.75em;
  }
  .header-wrapper ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .internal-wrapper {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .header-wrapper .header-links-wrapper ul li a {
    text-decoration: none;
    color: #fff;
  }
  .header-wrapper ul {
    list-style: none;
  }
  .header-wrapper .header-links-wrapper ul li {
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;
  }
  .header-wrapper .header-links-wrapper ul li:hover {
    opacity: 1;
  }
  .header-links-wrapper img{
    width: 18px;
  }

.main-highlight-wrapper{
  background: #fafafa;
  text-align: center;
  padding: 25px 0;
}
.links-wrapper ul{
  list-style: none;
}
.model{
  font-size: 0.85em;
}
.product-title{
  font-weight: 700;
  font-size: 56px;
}
.brief-description{
  font-size: 2em;
}
.links-wrapper{
  padding: 15px;
}
.links-wrapper ul li{
  display: inline-block;
  padding: 20px;
}
.links-wrapper ul li a{
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}



/* second highlight wrapper */



.seond-hghlight-wrapper{
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
.title-wrapper{
  font-weight: 600;
  font-size: 56px;
}
.description-wrapper{
  font-size: 26px;
  padding: 20px 0;
}
.price-wrapper{
  color: #86868b;
  font-size: 0.85em;
}



/* third-highlight-wrapper */



.third-highlight-wrapper{
  background-image: url("../images/home/iphone11-bg.jpg");
  height: 580px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 65px 20px;
}





/* fourth highlight wrapper */





.fourth-highlight-wrapper{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.fourth-highlight-wrapper .left-side-wrapper {
  background-image: url("../images/home/watch-series-5.jpg");
}
.left-side-wrapper {
  height: 580px;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.fourth-highlight-wrapper .right-side-wrapper {
  background-image: url("../images/home/apple-card.jpg");
}
.right-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
}
.description-wraper {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
}
